@layout('main')

@section('content')
<div class="container text-center">
<h1 class="text-center">Tasty Snacks Adonis JS Full Stack MVC Demo</h1>
<p class="subtitle">Welcome to Tasty Snacks</p>
<div class="logo"></div>
<div class="subtitle">
 <p>Tasty Snacks simplicity will make you feel confident about your food</p>
</div>
<br />
<img src="./snacks.jpg" alt="Snacks" class="img-fluid text-center">
</div>
@endsection
