@layout('main')

@section('content')
<h1 class="text-center">Hello Tasty</h1>
<p class="subtitle">Welcome to Tasty Snacks</p>
<div class="logo"></div>
<div class="subtitle">
  <p>Tasty Snacks simplicity will make you feel confident about your food</p>
</div>
@endsection
