@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
html, body {
height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  padding-top:50px;
}
#navbarSupportedContent > ul > li.nav-item > a {
  text-decoration:none;
}
.logo {
  margin-bottom: 7px;
}
h1 {
  color: rgb(32, 6, 68);
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}
.subtitle {
  margin-top: 25px;
  color: rgb(32, 6, 68);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5;
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.19, 1, 0.30, 1) 0.5s forwards;
}
a {
  color: inherit;
  text-decoration: underline;
}
p {
  margin: 0.83rem 0;
}
@keyframes slideUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.2%;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
