@layout('main')

@section('content')
<a href="/forms">Go Back</a>
<hr>
<h1>Subject: {{ form.subject }}</h1>
<p>From: {{ form.name }}</p>
<p>Email: {{ form.email }}</p>
<p>Message: {{ form.message }}</p>
@endsection
